extend layout
block content

	.row
		form.col.s12.search(action="events", method="get", enctype='application/json')
			.row
				.input-field.col.s12
					input#city.validate(type='text' value='Hamburg')
					label(for='city') Stadt
			.row
				select.hidden.was(name='was[]' multiple='')
					option(value='Sport & Freizeit') Sport & Freizeit
					option(value='Konzert') Konzert
					option(value='Musik') Musik
				.input-field.col.s12.was
					.chip Sport & Freizeit
					.chip Konzert
					.chip Musik
			.row
				select.hidden.wann(name='wann')
					option(value='Heute') Heute
					option(value='Morgen') Morgen
					option(value='Diese Woche') Diese Woche
					option(value='dieses Wochenende') dieses Wochenende
				.input-field.col.s12.wann
					.chip Heute
					.chip Morgen
					.chip Diese Woche
					.chip dieses Wochenende

			.row
				button.btn-large.waves-effect.waves-light(type='submit')
					| Event finden!